<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>MongoDB + Flask</title>
</head>
<body>
    {% if message %}<p>{{ message }}</p>{% endif %}

    <p><a href='/'>登録ぺぇじ (Register page)</a></p>

    <form method='POST' action='/search'>
        酒が欲しい人検索 (Search people want alcohol)：<br>
        <select name='request'>
            <option value='sake'>日本酒(Sake)</option>
            <option value='beer'>ビール(Beer)</option>
            <option value='whisky'>ウィスキー(Whisky)</option>
            <option value='vocka'>ウォッカ(Vocka)</option>
        </select>
        <input type='submit' value='Find!'>
    </form>

    {% if sake_list %}
        <ul>
            {% for l in sake_list %}
            <li>{{ l.user_name }} <span style='font-size:80%;color:#999;'>({{ l.updated_at }} registered)</span></li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
